<!DOCTYPE html>
<html>
  <header>
    <title>AdjectiveNoun Gamertag Generator</title>
  </header>
  <body>
    <div>
      <h1>Gamertag Generator!</h1>
      <p>Want a brand new handle for your Steam/EGS/Xbox/Playstation account?</p>
    </div>
    <div>
      <p>In here there are going to be radials to choose how many gamertag options you want generated.</p>
    </div>
  </body>
</html>