<!DOCTYPE html>
<html>
  <header>
    <title>AdjectiveNoun Gamertag Generator</title>
  </header>
  <body>
    <div class="top-of-page">
      <h1>Gamertag Generator!</h1>
      <p>Want a brand new handle for your Steam/EGS/Xbox/Playstation account? Choose how many results you want below, and try a few on! Regenerate as many times as you'd like.</p>
    </div>
    <div class="generator-container">
      <p>In here there are going to be radials to choose how many gamertag options you want generated.</p>
      <p>Also a button to trigger the function/refresh the page?</p>
    </div>
    <div class="results-container">
      <table class="results-table">
        <p>In here, we will generate a table of the results from the function in words.js</p>
      </table>
    </div>
  </body>
</html>